@import 'nib'

global-reset()

html, body
  height 100%

body
  position relative
  background #16161D

#dropbox
  position absolute
  width  468px
  height 120px
  margin auto
  left 0
  top 0
  right 0
  bottom 0
  background #F90
  border-radius 10px
  color #FC0
  font-family monospace
  font-size 140%
  line-height 120px
  text-align center
